.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #406080;
  }
  
  .entry__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    /*flex-flow: column-reverse;*/
    justify-content: flex-start;
    flex: 1;
  }
  
  .entry h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .entry__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
  .entry__button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(24, 122, 208);
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(78, 151, 215);
  }